files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream my_app {
        server 127.0.0.1:8080;
        keepalive 256;
      }

      server {
        listen 80;
        server_name _;
        return 301 https://$host$request_uri;
      }

      server {
        listen       443 ssl;
        server_name  _;
        ssl_certificate      /etc/pki/tls/certs/server.crt;
        ssl_certificate_key  /etc/pki/tls/private/server.key;
        
        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        
        location / {
          proxy_pass  http://my_app;
          proxy_set_header  Connection "";
          proxy_http_version 1.1;
          proxy_set_header        Host            $host;
          proxy_set_header        X-Real-IP       $remote_addr;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header        X-Forwarded-Proto https;
        }
      }

container_commands:
  01_setup_https:
    command: |
      mkdir -p /etc/pki/tls/certs
      mkdir -p /etc/pki/tls/private
      openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/pki/tls/private/server.key -out /etc/pki/tls/certs/server.crt -subj "/C=US/ST=State/L=City/O=Organization/OU=OrganizationalUnit/CN=localhost"
  02_reload_nginx:
    command: "service nginx reload"